body
{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    main
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .container
        {
            width: 90%;
            max-width: 1090px;
            height: 90%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            div
            {
                width: 300px;
                height: 200px;
                position: relative;
                box-shadow: 0px 6px 24px -22px black;
                img
                {
                    width: 100%;
                    height: 100%;
                }
                .projectText
                {
                    display: none;
                    background-color: #000000;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    height: auto;
                    p:first-child
                    {
                        font-weight: 900;
                        font-size: 12px;
                        text-align: center;
                        color: white;
                    }
                    p:last-child
                    {
                        font-weight: 500;
                        font-size: 9px;
                        color: #bebebe;
                        text-align: center;
                    }
                }
            }
            div:hover
            {
                .projectText
                {
                    display: inherit;
                    transition: all 6.5s ease;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) 
{

    body 
    {
        .backSidebar
        {
            display: none;
        }
        main 
        {
            .container
            {
                max-width: 440px;
                div
                {
                    margin: 40px 0;
                    .projectText
                    {
                        display: inherit !important;
                        bottom: -58px !important;
                    }
                }
            }
        }
    }
}