body
{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    .backSidebar
    {
        width: 312px;
    }
    main
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .container
        {
            width: 90%;
            max-width: 1090px;
            height: 90%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .project1
            {
                width: 300px;
                height: 200px;
                position: relative;
                box-shadow: 0px 6px 24px -22px black;
                img
                {
                    width: 100%;
                    height: 100%;
                }
                .project1Text
                {
                    display: none;
                    background-color: #000000;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    p:first-child
                    {
                        font-weight: 900;
                        font-size: 12px;
                        text-align: center;
                        color: white;
                    }
                    p:last-child
                    {
                        font-weight: 500;
                        font-size: 9px;
                        color: #bebebe;
                        text-align: center;
                    }
                }
            }
            .project1:hover
            {
                .project1Text
                {
                    display: inherit;
                    transition: all 6.5s ease;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) 
{
    .backSidebar
    {
        display: none;
    }
    .container
    {
        max-width: 440px;
    }
    .project1
    {
        margin: 40px 0;
    }
    .project1Text
    {
        display: inherit !important;
        bottom: -58px !important;
    }
}