.headerContent .topnav input {
  display: none;
}

.headerContent .topnav input + label {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 20px;
  width: 15px;
  z-index: 5;
}

.headerContent .topnav input + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: white;
  -webkit-transition: .5s;
  transition: .5s;
}

.headerContent .topnav input + label span:first-child {
  top: 4px;
}

.headerContent .topnav input + label span:last-child {
  top: 16px;
}

.headerContent .topnav input + label:hover {
  cursor: pointer;
}

.headerContent .topnav input ~ .nav {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  overflow: hidden;
}

.headerContent .topnav input ~ .nav .ulDiv {
  width: 100%;
}

.headerContent .topnav input ~ .nav .ulDiv > ul {
  text-align: center;
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.headerContent .topnav input ~ .nav .ulDiv > ul > li {
  display: none;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  list-style: none;
  width: 100%;
}

.headerContent .topnav input ~ .nav .ulDiv > ul > li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding-top: 40px;
  width: 100%;
}

.headerContent .topnav input .ulDiv > ul {
  text-align: center;
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.headerContent .topnav input .ulDiv > ul > li {
  display: none;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  list-style: none;
  width: 50%;
}

.headerContent .topnav input .ulDiv > ul > li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 30px;
}

.headerContent .topnav input:checked + label span {
  opacity: 0;
  top: 50%;
}

.headerContent .topnav input:checked + label span:last-child {
  opacity: 1;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

.headerContent .topnav input:checked + label span:first-child {
  opacity: 1;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

.headerContent .topnav input:checked ~ .nav {
  height: 100%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerContent .topnav input:checked ~ .nav .ulDiv > ul > li {
  display: inline;
  -webkit-transition: opacity 4s linear 0s;
  transition: opacity 4s linear 0s;
}

.headerContent .topnav input:not(checked) ~ .nav .ulDiv > ul > li {
  display: none;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100px;
}

.nav .titleDiv {
  width: 100%;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .titleDiv .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav .titleDiv .title svg {
  width: 45px;
  fill: white;
}

.backNavbar {
  width: 100%;
  height: 365px;
}

@media screen and (min-width: 900px) {
  .headerContent {
    display: none;
    -webkit-transition: display 0.5 ease;
    transition: display 0.5 ease;
  }
}
/*# sourceMappingURL=navbarMobile.css.map */