body
{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    main 
    {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        img 
        {
            width: 100%;
        }
        .container
        {
            width: 90%;
            max-width: 1090px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .projectTitle
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                h3 
                {
                    font-weight: 600;
                    font-size: 36px;
                    margin-bottom: 22px;
                }
                a 
                {
                    text-decoration: none;
                    color: #BEBEBE;
                    height: 35px;
                    font-size: 16px;
                }
                a:hover
                {
                    text-decoration: underline;
                }
            }
            .infosProject
            {
                width: 100%;
                ul 
                {
                    display: flex;
                    justify-content: space-around;
                    background-color: #bebebe27;
                    list-style: none;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    align-items: center;
                    height: 60px;
                    li 
                    {
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
            }
            .descriptionProject
            {
                margin: 78px 0;
                p 
                {
                    line-height: 27px;
                }
            }
            .gitDiv
            {
                margin-bottom: 78px;
                a 
                {
                    font-weight: 400;
                    font-size: 18px;
                    text-decoration: none;
                    color: #BEBEBE;
                }
                a:hover
                {
                    font-size: 18px;
                    text-decoration: none;
                    color: black;
                    transition: all 1s ease;
                }
            }
        }
    }
}


@media screen and (max-width: 900px) 
{
    body 
    {
        .backSidebar
        {
            display: none;
        }
        main 
        {
            img 
            {
                margin-top: 86px;
            }
            .container
            {
                .infosProject
                {
                    ul 
                    {
                        li 
                        {
                            font-size: 12px;
                        }
                    }
                }
                .descriptionProject
                {
                    margin: 43px 0;
                }
            }
        }
    }


}