html
{
    height: 100%;
    body
    {
        height: 100%;
        margin: 0;
        .sidebar
        {
            width: 250px;
            height: 100%;
            background-color: black;
            margin: 0;
            position: relative;
            .divLogoSidebar
            {
                height: 130px;
                display: flex;
                justify-content: center;
                align-items: center;
                a
                {
                    svg
                    {
                        width: 70px;
                        fill: white; 
                    }
                }
            }
            .divCategorySidebar
            {
                width: 100%;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                ul
                {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    li
                    {
                        display: flex;
                        justify-content: center;
                        line-height: 35px;
                        position: relative;
                        a
                        {
                            font-family: 'Montserrat', sans-serif;
                            font-size: 16px;
                            color: #BEBEBE34;
                            font-weight: 900;
                            text-decoration: none;
                        }
                        a:hover
                        {
                            color: white;
                            transition: all 0.7s ease;
                        }
                        .activ
                        {
                            font-family: 'Montserrat', sans-serif;
                            font-size: 18px;
                            color: white;
                            font-weight: 900;
                            text-decoration: none;
                        }
                        span
                        {
                            position: absolute;
                            right: 0;
                            width: 20px;
                            top: calc( 50% - 14%);
                            height: 30%;
                            background-color: white;
                            margin: 0;
                        }
                    }
                }
            }
            footer
            {
                position: absolute;
                bottom: 40px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .footerLogo
                {
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    a
                    {
                        text-decoration: none;
                        .dribbble
                        {
                            width: 25px;
                            height: 25px;
                            fill: white;
                        }
                        .behance, .linkedin, .github
                        {
                            width: 28px;
                            height: 28px;
                            fill: white;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {

    .sidebar
    {
        display: none;
        transition: display 0.5 ease; 
    }
  }